{% spaceless %}

    {% load compress %}
    {% load staticfiles %}
    {% load i18n %}

    <!DOCTYPE HTML>
    <html lang="en">

    <head>
        <title>{% block title %}{% endblock title %} | {{ settings.SITE_NAME }}</title>

        <meta name="description" content="{% block meta_description %}{{ settings.SITE_DESCRIPTION }}{% endblock meta_description %}" />
        <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        {% block meta_og %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}" />

        {# <!-- Custom styles for this template --> #}
        {% compress css %}
            <link href="{% static 'core/css/jumbotron-narrow.css' %}" rel="stylesheet">
            <link href="{% static 'core/css/lightbox.css' %}" rel="stylesheet" type="text/css"/>
            <link href="{% static 'core/css/style.css' %}" rel="stylesheet" type="text/css"/>
        {% endcompress %}
        {# <link rel="alternate" type="application/rss+xml" href="{% url 'rss' %}"> #}

    </head>

    <body>
    <div class="container">

        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {% if user.is_authenticated %}
                    <li role="presentation" class="active"><a href="{% url 'post-new' %}">{% trans "Add new" %}</a></li>
                    {% endif %}
                    <li role="presentation"><a href="/">{% trans "Home" %}</a></li>
                    <li role="presentation"><a href="{% url 'search' %}">{% trans "Search" %}</a></li>
                    {% if user.is_authenticated %}
                        <li role="presentation" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> {{ user.get_full_name }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'my' %}">{% trans "My posts" %} ({{ user.post_set.count }})</a></li>
                                <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}?next=/">{% trans "Logout" %}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li role="presentation"><a href="{% url "social:begin" "facebook"%}" title="{% trans "Login via Facebook" %}"><span class="glyphicon glyphicon-user"></span> {% trans "Login via Facebook" %}</a></li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted">{{settings.SITE_NAME}}</h3>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class='row'>
                    <div class="col-md-12">
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ message|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% block body %}

        {% endblock %}

        <footer class="footer">
            <p>
                <span class="pull-left">{{settings.SITE_NAME}}</span>
                <span class="pull-right">{% trans "Powered by" %} <a href="#" title="myClassified">Django</a></span>
            </p>
        </footer>

    </div> <!-- container -->

    {# <!-- Latest compiled and minified CSS --> #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


    {# <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    {# <!-- Latest compiled and minified JavaScript --> #}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link href="{% static 'core/css/flat-ui.min.css' %}" rel="stylesheet" type="text/css"/>
    <script href="{% static 'core/js/flat-ui.min.js' %}"/></script>

    <script src="{%  static 'core/js/lightbox.min.js' %}"></script>

    {% block ext_scripts %}{% endblock %}

    <!-- generated {% now "jS F Y H:i:s" %} -->
    </body>
    </html>
{% endspaceless %}
